@using Microsoft.AspNetCore.Identity

@{
    ViewData["Title"] = "Admin ctions";
}

<div class="text-center">
    <h1 style="color: blue;" class="display-4"><b> Admi Actions </b> </h1>
    <p></p>
    <h1 style="color:   rgba(66, 233, 208, 0.934)" class="display-4"> <b> Admin Project Tracking System  </b> </h1>
    
</div>
<p>
   <span style="font-size:24px;"> 
     <a asp-controller="AdminActions" asp-action="ListUsers" > List Users | </a> 
   </span>
</p>