@{
    ViewData["Title"] = "Create Job Start Form";
}

<h1 style="color: blue;"> Create Project </h1>
<p> </p>
<p> </p>
<hr style="width:50% height:8px">

<p>
    <a asp-action="Create" style="font-size:1.3vw"> Create Project using UI Form </a>
</p>
<p> </p>
<p> </p>
<p>
    <a asp-action="Create" style="font-size:1.3vw"> Create Project using Excel </a>
</p>