@model Protrac1.Models.JobStartForm


@{
    ViewData["Title"] = "Input Register";
}

<h1>Index Create Input Register</h1>

<p>
    <a asp-controller="InputRegister" asp-action="CreateInputRegister" asp-route-id="@Model.ProjectId">Create New Input Register form</a>
    <a asp-controller="InputRegister" asp-action="CreateInputRegister" asp-route-id="@Model.ProjectId">Create New Check and Review form</a>
</p>