@model IEnumerable<Protrac1.Models.JobStartForm>


@{
    ViewData["Title"] = "Input Register";
}

<h1>Index Create Input Register</h1>

<p>
    <a asp-controller="InputRegister" asp-action="CreateInputRegister">Create New</a>
</p>