@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 style="color: blue;" class="display-4"><b> Welcome to Protrac </b> </h1>
    <p></p>
    <h1 style="color:   rgba(66, 233, 208, 0.934)" class="display-4"> <b> Project Tracking System  </b> </h1>
    
</div>
