

@{
    ViewData["Title"] = "Create Input Register";
}


<h1 style="color: teal ;"> Create Input Register Form </h1>
<p> </p>
<p> </p>
<hr style="width:50% height:8px">

<p>
    @if (Model.Exists)
    {
        <text>Form Exists! </text>
        <a asp-controller="InputRegister" asp-action="Details" asp-route-id="@Model.Id">View | </a>
    
    }
    else if (!Model.Exists)
    {
        <a asp-controller="InputRegister" asp-action="Create" asp-route-id="@Model.Id" style="font-size:1.3vw">Create New Input Register Form</a>
    
    <p>
        <form asp-action="Import" asp-controller="InputRegister"  method="post" enctype="multipart/form-data">
          <input type="file" name="file" />
         <button type="submit">Upload</button>
        </form>

        <a asp-controller="InputRegister" asp-action="Import" style="font-size:1.3vw"> Create Input Register using Excel </a>
    </p>
    }
</p>

<p> </p>


