@{
    ViewData["Title"] = "Create Input Register";
}

<h2> Create Input Register </h2>
<p> </p>
<p> </p>
<hr style="width:50% height:8px">

<p>
    <a asp-action="Create" style="font-size:1.3vw" > Create Input Register </a>
</p>
<p> </p>
<p> </p>
<p>
    <a asp-action="Create" style="font-size:1.3vw"> Create Iput Register using Excel </a>
</p>